<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/auth'" class="navbar-brand">Auth</a>
      <a [routerLink]="'/textsimilarity'" class="nav-item">Text similarity</a>
      <a [routerLink]="'/detectLanguage'" class="nav-item">Detect language</a>
      <a [routerLink]="'/entityextraction'" class="nav-item">Entity extraction</a>
      <a [routerLink]="'/sentimentanalysis'" class="nav-item">Sentiment analysis</a>
      <a [routerLink]="'/history'" class="nav-item">History</a>

    </div>
  </nav>
</header>

<router-outlet></router-outlet>
